* {
	box-sizing: border-box;
	max-width: 100%;
}

a {
	color: var(--secondary);
}

a:hover {
	background: var(--secondary);
	color: var(--primary);
}

article {
	padding: 2em;
}

article p {
	text-align: justify;
}

body {
	margin: 0;
	background-color: var(--primary);
	color: var(--secondary);
	line-height: 1.4em;
}

button {
	background: none;
	border: 3px solid var(--secondary);
	border-radius: 5px;
	padding: 5px;
	color: var(--secondary);
	font-weight: bold;
}

button:hover {
	background: var(--secondary);
	color: var(--primary);
}

h2 {
	text-transform: uppercase;
}

h1, h2, h3 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

p {
	padding: 0.2em;
	font-family: 'Open Sans', sans-serif;
}

pre {
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	box-sizing: border-box;
	overflow: auto;
	padding: 0.3em;
}

main,
section {
	left: 0;
	right: 0;
	padding: 2.5em;
}

main {
	height: 100vh;
	max-height: 100vh;
}