.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-3 {
	width: calc(100%/3);
}

.row {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
	.row {
		flex-direction: column;
	}
}

.m-top-10 {
	margin-top: 10px;
}
